html, body{
  padding: 0;
  margin: 0;
}

header{
  margin: 0; padding: 2em 5em 4em; color: #efefef;
  overflow:hidden;
  position: relative;
}

header::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  transform: skewY(-4deg);
  background: #3DF5D6;
  transform-origin: bottom left;
  z-index: -1;
}

.title{
  font-size: 48px;
  font-family: 'Noto Serif', serif;
}

.date{

}
